@import "Colors.css";

.paragraph {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.Home {
  color: var(--color-7);
}

li{
  margin: 1vh 0;
}

a {
  text-decoration: none;
  color: var(--color-4);
}

a:hover{
  color: var(--color-2);
}
