.media {
  padding-left: 3vw;
  display: flex;
  flex-flow: column wrap;
}

.iconlabel {
  font-size: calc(6px + 1vh);
  align-self: center;
}

.iconSection {
  display: flex;
  flex-flow: row wrap;
  padding-top: .4vh;
  padding-bottom: .4vh;
  text-decoration: none;
  color: var(--color-6);
  align-items: center;
}

.iconSection:hover {
  color: var(--color-4);
}

.icon {
  display: flex;
  padding-left: .7vw;
  padding-right: .7vw;
  align-items: center;
  align-self: center;
}

#strava {
  margin-right: 2px;
}
